<content-head></content-head>
<!-- <kio-globals globalsKey="intro"></kio-globals> -->

<router-outlet></router-outlet>

<!-- <kio-globals globalsKey="outro"></kio-globals> -->
<kio-globals globalsKey="hint"></kio-globals>
<kio-globals globalsKey="share"></kio-globals>
<ui-back-to-top></ui-back-to-top>
<newsletter-form></newsletter-form>
<kio-globals globalsKey="nba"></kio-globals>
<kio-globals globalsKey="social"></kio-globals>
<kio-globals globalsKey="sponsoring"></kio-globals>
<kio-globals globalsKey="copyrights"></kio-globals>

<sidebar>
  <sidebar-menu></sidebar-menu>
  <kio-globals globalsKey="share"></kio-globals>
  <kio-globals globalsKey="nba"></kio-globals>
  <kio-globals globalsKey="social"></kio-globals>
</sidebar>
<lightbox-outlet></lightbox-outlet>
